.container{

  .content2screenshot{
    position: relative;
    background-color: lightblue;
    margin: 20px;

    .text1{
      background-color: red;
      font-size: 36px;
      font-weight: bold;
    }
  
    .text2{
      display: block;
      padding: 50px;
      color: orange;
      background-color: lightgreen;
    }
  
    .divider{
      margin-bottom: 20px;
      margin-top: 50px;
      padding: 20px 30px;
      border-bottom: 1px solid #333;
    }
  
    .demo-img{
      position: absolute;
      top: 50px;
      left: 50px;
    }
  }

  
}